DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_DEBUG=True


DATABASE_ENGINE=postgres

POSTGRES_DB=brooks_db
POSTGRES_USER=brooks_user
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=db
POSTGRES_PORT=5432