django==5.2.9
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_dataclasses==1.4.0
ipython
requests==2.32.5
celery==5.6.0
redis==7.1.0
django-redis==5.4.0
granian==2.6.0
psycopg2-binary==2.9.11
coverage==6.5.0
pillow==12.0.0
django-constance==4.3.4
django_cors_headers==4.9.0
drf_spectacular==0.29.0
sentry-sdk==0.10.2
croniter==6.0.0
pytest==9.0.2
pytest_django==4.11.1
PyJWT==2.10.1
cryptography==46.0.3
boto3==1.42.30
openai==2.15.0

sw-django-logger==0.0.16
sw-django-utils==0.0.54
sw-python-utils==0.0.18
